body {
  background-color: #C1CEB6;
  text-align:center;
  color: #131512;
  font-family: Lato, Helvetica, sans-serif;

}

heading {
    padding-bottom: -20px;
}

.container1 {
  padding-top:10px;
  padding-bottom: 30px;
  
  border-image: linear-gradient(#292C27, #c7d3bd) 30;
  border-width: 1px;
  border-style: solid;

  width: 500px;
  background-image: linear-gradient(rgb(128, 136, 120,100), rgb(128, 136, 120,0));
  margin: 50px auto;
}
.container2 {
 padding-top:30px;
 padding-bottom: 10px;
  
  border-image: linear-gradient(#c7d3bd,#292C27) 30;
  border-width: 1px;
  border-style: solid;

  width: 500px;
  background-image: linear-gradient(rgb(128, 136, 120,0), rgb(128, 136, 120,100));
  margin: 20px auto;

}

.container3 {

  padding-top:10px;
  padding-bottom: 10px;
  width: 500px;
  background: #808878;
  margin: 40px auto;
  border-radius: 6px;
  
  }

.aboutcontents {
  margin: 50px;
  text-align: justify;

}

button {
  background:#C1CEB6; 
  padding: 10px 12px;
  border: 1px solid #292C27; 
  border-radius: 4px;
  color: #292C27;
}

input[type=text] {
  background:#C1CEB6; 
  padding: 6px 10px;
  border: 1px solid #292C27; 
  border-radius: 2px;
  color: #292C27;
  margin: 6px;
  font-weight: bold;

  }

input[type=button] {
  background:#292C27; 
  padding: 10px 12px;
  border: 0px solid #292C27; 
  border-radius: 5px;
  color: #C1CEB6;
  margin-top: 10px;
  font-weight: bold;

  }
